{{!< default}}

<div id="btnContainer">
  <button class="btn" id="nhlBtn" onclick="showStandings(this)">NHL Standings</button>
  <button class="btn" id="nbaBtn" onclick="showStandings(this)">NBA Standings</button>
  <button class="btn" id="nflBtn" onclick="showStandings(this)">NFL Standings</button>
  <button class="btn" id="mlbBtn" onclick="showStandings(this)">MLB Standings</button>
</div>

 <div id="select" class="animated infinite pulse">LOADING...</div>

 <div id="standings"></div>
